AgentsVsAliens=agents-vs-aliens
AlphabetSoup=alphabet-soup
AmishBrothers=amish-brothers
AncientAdventure=ancient-adventure
AoiMaru=aoi-maru
Archaeology=archaeology
BagBoy=bag-boy
BartenderGame=bartender-game
BlocksOfNibiru=blocks-of-nibiru
BombSquad=bomb-squad
CCGWrestling=ccg-wrestling
Chess=chess-has-exciting-spectacular-strategy
ChristmasTreeSimulator=christmas-tree-simulator
CircuitusInfinitus=circuitus-infinitus
CrazyDelivery=crazy-delivery
CruddyBird=cruddy-bird
CrystalGridiron=crystal-gridiron
CyberNinja=cyber-ninja
DeliveryKid=delivery-kid
DominoGame=domino-game
DroppingBlocks=dropping-blocks
DualEagles=dual-eagles
Earthball=earthball
EasterEggHunt=easter-egg-hunt
ExpandORay=expand-o-ray
ExpressLane=express-lane
FiftyFlags=fifty-flags
FreePersonShooter=free-person-shooter
FreeTheFrog=free-the-frog
GeneticDisorder=genetic-disorder
Gigapede=gigapede
IchibanSokoban=ichiban-sokoban
IrwinMcSpenders=irwin-mcspenders
JesusSaves=jesus-saves
JewelSwapper=jewel-swapper
KittysAdventure=kittys-adventure
ManifestUniverse=manifest-universe
MarchingBandSimulator=marching-band-simulator
Mindsweep=mindsweep
MonsterHotel=monster-hotel
MutantVeggieArena=mutant-veggie-arena
Myriad=myriad
MysticSword=mystic-sword
NinjaSquadCommander=ninja-squad-commander
Nomis=nomis
NorthAvenueAdventure=north-avenue-adventure
NoteChomper=note-chomper
Oiram=oiram
PowerPanda=power-panda
ResistorGold=resistor-gold
SandwichMakerPro=sandwich-maker-pro
SharkFood=shark-food
Slowbot=slowbot
SpaceToDestroy=space-to-destroy
StratosphericAerosolInjection=stratospheric-aerosol-injection
TVWorld=tv-world
Tangram=tangram
TexOneman=tex-oneman
ToothDecay=tooth-decay
ToukyouToChikaTetsu=toukyouto-chikatetsu
TurnBackTheClocks2=turn-back-clocks-2
TurnBackTheClocks3=turn-back-clocks-3
TurnBackTheClocks4=turn-back-clocks-4
TurnBackTheClocks=turn-back-clocks
WorldFighter=world-fighter
YatzyDiceGame=yatzy-dice-game
YenMaster=yen-master
YonNoIro=yon-no-iro