SET PROJ_SERVER=<ITCH_ID>
SET PROJ_EXE=<PROJ_NAME>
SET BUTLER_EXE=..\..\tools\butler.bat

call %BUTLER_EXE% push build\%PROJ_EXE%Windows gatechgrad/%PROJ_SERVER%:win

call %BUTLER_EXE% push build\%PROJ_EXE%Mac gatechgrad/%PROJ_SERVER%:osx

call %BUTLER_EXE% push build\%PROJ_EXE%Linux gatechgrad/%PROJ_SERVER%:linux

pause > nul